<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina central</title>
</head>
<body>
    <h1>Questionario acerca de linguagens</h1>

    <form action="/">
        <label for="">Qual sua linguagem favorita?</label><br>
        <input type="text"><br><br>
        <label for="">Porque ela te cativa?</label><br>
        <input type="text"><br><br>
        <label for="">Qual a resposta de todas as verdades encontrada no profundo amago dos seres
            causando horror e dos para aqueles que há muito foram esquecidos mas que ainda residem nas sombras
            ?</label><br>
        <input type="text"><br><br>
        <button>Enviar</button>
    </form>
</body>
</html>