<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina central</title>
</head>
<body>
    <h2>Top 20 linguagens de todos os tempos <h6>na minha opiniao</h6> </h2><br>
    <h3>10 javascrip, superestima</h3><br>
    <h3>9 typescript, tipada mas meh</h3><br>
    <h3>8 javascript, te peguei</h3><br>
    <h3>7 ingles, muito bom recomendo</h3><br>
    <h3>5 java, funcional</h3><br>
    <h3>4 4,4.4444444444444444444444444444444444444444444444444444444444444444444444444</h3><br>
    <h3>3 hipe script, legalzinha</h3><br>
    <h3>2 portugues, amar é tão dificil quanto picar couve </h3><br>
    <h3>1 C#, o goat </h3><br>

    <a href="/"></a>  
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <h3>0 Scrat</h3><br>
</body>
</html>