{% extends 'base.html' %}

{% block content %} <!--isto indica o uso de um codigo .py-->

<main>
    <h1>Questionario acerca de linguagens</h1>

    <form action="{{url_for('formulario')}}" method="post" ">
        <label for="">Qual sua linguagem favorita?</label><br>
        <input type="text" name="linguagem"  class="form-control" required><br><br>
        <label for="">Porque ela te cativa?</label><br>
        <input type="text" name="porque"  class="form-control" required><br><br>
        <label for="">Qual a resposta de todas as verdades encontrada no profundo amago dos seres
            causando horror e dos para aqueles que há muito foram esquecidos mas que ainda residem nas sombras
            ?</label><br>
        <input type="text" name="resposta"  class="form-control" required><br><br>
        <button>Enviar</button>
        

        <table class="table table-bordered table-hover">
    <thead class="table-dark">
    
        
    <tr>
        <th>Nome da linguagem</th>
        <th>Porque</th>
        <th>Resposta</th>
    </tr>
    
    </thead>
    <tbody>
        {% for linguagema in listaLinguagem %}
        <tr>
            <td>{{linguagema.linguagem}}</td>
            <td>{{linguagema.porque}}</td>
            <td>{{linguagema.resposta}}</td>
        </tr>
        {% endfor %}
        
    </tbody>
</table>
    </form>
</main>

{% endblock content %}